@media screen and (min-width: 1850px) {
    #Lyricbox {
        display: block;
        min-width: 450px;
        width: calc(100% - 1380px);
        left: 1316px;
        min-height: 547px;
        bottom: 5px;
    }

       

    #Lyric {
        display: none;
    }

    #Lyricbox > .righttopclose {
        display: none;
    }
}

@media screen and (max-width: 1310px) {
    #Bodydiv {
        width: 99%
    }

    #Browsebox, #Lyricbox, #AlarmClock {
        left: unset;
        right: 120px;
    }
    #Ratinglist {
        left: 860px;
    }
}

@media screen and (max-width: 1270px) {
    #Playlist {
        height: 250px;
        left: 899px;
    }

    #Cover {
        width: 270px;
        height: 270px;
        left: 615px;
        top: 5px;
    }

    #BewertungN {
        top: 240px;
        left: 680px;
    }
    #AudioIn {
        top: 5px;
        left: 850px;
    }
    #Repeat {
        top: 290px;
        left: 670px;
    }
    #Shuffle {
        top: 290px;
        left: 770px;
    }
    #Fade {
        top: 290px;
        left: 870px;
    }
    #SleepModeButton {
        left: 970px;
        top: 290px;
    }
    #Akttitle, #Aktartist{
        max-width: unset;
    }
}
@media screen and (max-width: 1250px) {
    #Repeat {
        top: 290px;
        left: 620px;
    }

    #Shuffle {
        top: 290px;
        left: 720px;
    }

    #Fade {
        top: 290px;
        left: 820px;
    }

    #SleepModeButton {
        top: 290px;
        left: 920px;
    }
    #Play {
        top: 390px;
        left: 620px;
    }
    #Next {
        top: 390px;
        left: 820px;
    }
    #Pre {
        top: 390px;
        left: 720px;
    }
    #Browse {
        top: 290px;
        left: 1020px;
    }
    #Lyric {
        top: 390px;
        left: 920px;
    }
    #AlarmClockOpen {
        top: 390px;
        left: 1020px;
    }
    #Browsebox {
        right: 170px;
    }
   
    #Lyricbox {
        right: 330px;
        width: auto;
    }
       
    #Browsebox {
        right: 219px;
    }
    #AlarmClock {
        left: unset;
        right: 217px;
    }
       
    #SleepMode{
        left: 770px;
        top: 270px;
    }
}

@media screen and (max-width: 1150px) {
    #Play {
        top: 0px;
        left: 860px;
    }
    #Pre {
        top: 100px;
        left: 860px;
    }
    #Next {
        top: 200px;
        left: 860px;
    }
    #Repeat {
        top: 300px;
        left: 860px;
    }
    #Lyric {
        top: 400px;
        left: 860px;
    }
    #Shuffle {
        top: 100px;
        left: 950px;
    }

    #Fade {
        top: 0px;
        left: 950px;
    }
    #SleepModeButton {
        top: 200px;
        left: 950px;
    }
    #Browse {
        top: 300px;
        left: 950px;
    }
    #AlarmClockOpen {
        top: 400px;
        left: 950px;
    }
    #Cover {
        width: 230px;
        height: 230px;
        left: 615px;
        top: 285px;
    }
    #BewertungN {
        top: 480px;
        left: 660px;
    }
    #Playlist{
        left:615px;
    }
    #SleepMode {
        top: 180px;
        left: 805px;
    }

    #Ratinglist {
        left: 500px;
        top: 0px;
    }

    #AktSongInfo {
        display: block;
    }

    #Aktartist::before {
        content: "";
    }

    #Aktartist {
        margin-left: 0;
    }

    #Aktartist, #Akttitle {
        max-width: fit-content;
    }

    #CurrentMeta {
        left: 541px;
        bottom: 110px;
    }

    #Filterlist {
        left: 250px;
    }

    #AudioIn {
        top: 360px;
        left: 850px;
    }
}

@media screen and (max-width: 1050px) {

    #Cover {
        right: 5px;
        left: unset;
        top: 5px;
    }

    #SleepModeButton {
        top: 360px;
        left: 610px;
    }
    #SleepMode {
        left: 461px;
    }
    #BewertungN {
        top: 170px;
        left: unset;
        right: 40px;
    }

    #Shuffle {
        top: 360px;
        left: 810px;
    }

    #Fade {
        top: 270px;
        left: 710px;
    }
    #Browse {
        top: 360px;
        left: 710px;
    }
    #Browsebox{
        right: unset;
        left: 100px;
    }
    #Lyric {
        top: 5px;
        left: unset;
        right: 150px;
        z-index:10;
        opacity:0.8;
    }
    #Lyricbox {
        right: 300px;
    }
    #AlarmClockOpen {
        top: 270px;
        left: 810px;
    }
    #Playlist {
        display: none;
    }

    #Play {
        top: 0;
        left: 610px;
    }

    #Pre {
        top: 90px;
        left: 610px;
    }

    #Next {
        top: 180px;
        left: 610px;
    }

    #Repeat {
        top: 270px;
        left: 610px;
    }

    #AktSongInfo {
        width: 290px;
    }
    #AudioIn {
        left: 610px;
    }
}

@media screen and (max-width: 950px) {

    #Lyricbox > .righttopclose {
        display: block;
    }
    #PlaylistCount {
        left: 349px;
        bottom: 30px
    }

    #CurrentSongRuntime {
        left: 62px;
    }

    #CurrentMeta {
        left: 350px;
    }

    #AktSongInfo {
        bottom: 33px;
        left: 500px;
    }
    #Currentplaylist {
        bottom: 300px;
        width: 430px;
    }

    #Cover {
        right: unset;
        top: unset;
        left: 210px;
        bottom: 90px;
        width: 200px;
        height: 200px

    }

    #BewertungN {
        top: unset;
        left: 245px;
        right: unset;
        bottom: 95px;
    }

    #Ratinglist {
        left: 454px;
    }

    #SleepModeButton {
        left: 460px;
        right: unset;
        top: unset;
        bottom: 185px;
    }

    #Repeat {
        top: unset;
        left: 460px;
        bottom: 95px;
    }

    #Shuffle {
        right: unset;
        left: 550px;
        top: unset;
        bottom: 95px;
    }

    #Fade {
        top: unset;
        left: 550px;
        right: unset;
        bottom: 185px;
    }

    #AlarmClockOpen {
        bottom: 95px;
        top: unset;
        left: 640px;
    }

    #SleepMode {
        top: unset;
        left: 312px;
        bottom: 185px;
    }

    #Browse {
        bottom: 185px;
        top: unset;
        right: unset;
        left: 640px;
    }

    #Lyric {
        bottom: 205px;
        top: unset;
        right: unset;
        left: 210px;
    }

    #Lyricbox, #LyricPlaylist {
        left: 0;
        width: auto;
        right: 0;
        top: 0;
        bottom: 0;
    }

        

    #AlarmClock {
        left: 85px;
    }

        

    #Browsebox {
        left: 60px;
    }

       

    #Next, #Play, #Pre {
        left: 640px;
    }
    #AudioIn {
        top: 270px;
        left: 640px;
    }
}

@media screen and (max-width: 790px) {

    #Nextsong {
        display: none;
    }
    #AktSongInfo {
        left: 130px;
        display: inline-flex;
        bottom: 55px;
        width: calc(100% - 130px);
    }
    #Aktartist::before {
        content: " - ";
    }
    #Aktartist{
        padding-left: 10px;
    }
}

@media screen and (max-width: 740px) {
    #Currentplaylist {
        display: none;
    }
    #Filterlist {
        left: 50px;
    }
    #BrowseTrackBox {
        right: auto;
        left: 5px;
        width: calc(100% - 55px);
    }
    #Cover {
        right: unset;
        top: unset;
        left: 200px;
        bottom: unset;
        width: 280px;
        height: 280px;
    }

    #CurrentPlaylistOpen {
        display: block;
        left: 185px;
        top: 360px;
        align-content: center;
        border-radius: 50px;
        border: 2px solid;
        height: 50px;
        width: 50px;
    }



    #Currentplaylist.aktiv {
        display: block;
        z-index: 100;
        top: 0;
        left: 0;
        width: 100%;
        bottom: 70px;
        max-height: calc(100% - 90px)
    }

    #BewertungN {
        top: 240px;
        left: 275px;
        right: unset;
        bottom: unset;
    }

    #Next, #Play, #Pre, #Browse, #AlarmClockOpen {
        left: unset;
        right: 5px;
    }
    #Lyric{
        top:5px;
    }

    #Fade, #Shuffle {
        left: unset;
        right: 95px;
    }

    #SleepModeButton, #Repeat {
        left: unset;
        right: 185px;
    }

    #Ratinglist {
        left: 250px;
    }

    #Settingsbox {
        top: 30px;
        left: 50px;
    }

        

    #Browsebox {
        left: 10px;
        right: 100px;
        width: auto;
    }

    #SleepMode {
        left: unset;
        right: 300px;
    }

    #AlarmClock {
        left: 10px;
        width: auto;
        right: 100px;
    }

    #BrowseGenre {
        right: unset;
        left: 300px;
    }
    #CurrentPlaylistClose {
        position:absolute;
        bottom: 0px;
        z-index: 100;
        height: 75px;
        width: 100%;
        background-color: grey;
        border: 1px solid black;
        border-radius: 25px;
        text-align: center;
        line-height: 75px;
    }
    #AudioIn {
        top: 330px;
        width: 50px;
        height: 50px;
        left: 120px;
    }
}

@media screen and (max-width: 620px) {
    #NextSongWrapper{
        display:none;
    }

    #Cover {
        width: 150px;
        height: 150px;
    }

    .mediabutton {
        width: 50px;
        height: 50px;
    }

    #BewertungN {
        top: 110px;
        left: 205px;
    }

    #SleepModeButton, #Repeat {
        left: 200px;
        right: unset;
        bottom: unset;
    }

    #SleepModeButton {
        top: 160px;
    }
    #SleepMode {
        left: 50px;
        right: unset;
        top: 125px;
    }
    #Repeat {
        top: 230px;
    }
    #CurrentMeta {
        left: 50px;
        bottom: unset;
        top: 100px;
    }
        
    #Fade, #Shuffle {
        left: 270px;
        right: unset;
        bottom: unset;
    }

    #Fade {
        top: 160px;
    }

    #Shuffle {
        top: 230px;
    }

    #CurrentPlaylistOpen {
        left: 205px;
        top: 300px;
        bottom: unset;
    }

    #Settings {
        left: 126px;
        top: 329px;
    }

    #PlaylistCount {
        display: none;
    }

    #AktSongInfo {
        display: block;
        bottom: 60px;
        top: unset;
        left: 15px;
        width: calc(100% - 100px);
    }
    #Akttitle{
        width: 100%;
        max-width: 100%;
    }
    #Aktartist {
        margin-left: 0;
        width: 100%;
        max-width: 100%;
    }

        #Aktartist::before {
            content: ""
        }

    .alarm > DIV > DIV {
        display: block;
    }

    .alarmonoffswitch {
        height: 25px;
    }

    #EditAlarm {
        left: 5px;
    }

    #SelectAlarmPlaylist {
        left: 5px;
    }

    #BrowsePlaylist, #BrowseArtist {
        position: unset;
    }

    #BrowseGenre {
        position: unset;
    }
    #BrowseTracks {
        position: unset;
        border-bottom: 1px solid;
    }
    #Browseboxwrapper {
        max-height: calc(100% - 110px);
    }
    #MultiVolume{
        left: 10px;
    }
    #AudioIn {
        top: 300px;
        width: 50px;
        height: 50px;
        left: 270px;
    }
}

@media screen and (max-width: 450px) {
    #AudioIn {
        top: 300px;
        left: unset;
        right: 75px;
    }
    #Devices, #DeviceWrapper{
        max-height: 200px;
    }
    #Settings, #SetMute {
        top: 240px;
    }
    #Volumedown, #Volumeup {
        top: 310px;
    }
    #Volume {
        top: 240px;
    }
    #BrowseTrackBoxResultWrapper > div div.rating_bar {
        display: none;
    }
    #BrowseTrackBoxResultWrapper > div div.bomb {
        display: none;
    }
    #LabelVolume {
        left: 75px;
        top: 220px;
    }
    #MultiVolume {
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        max-height: unset;
        width: auto;
    }

    #PlaylistCount.aktiv {
        display: none;
    }

    #Next, #Play, #Pre {
        left: unset;
        right: 75px;
        bottom:unset
    }
    #Browse, #Lyric, #AlarmClockOpen {
        bottom: unset;
    }
    #AlarmClockOpen {
        top: 510px;
    }
    #Pre {
        top: 440px;
    }

    #Lyric {
        top: 440px;
    }
    #Next {
        top: 370px;
    }

    #Browse {
        top: 370px;
    }
    #Play {
        top: 300px;
    }
    #Browseclose {
        display: block;
    }
    #Browsebox {
        width: auto;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
    }
    .browsetitle {
        width: 220px;
    }
    .allContent {
        width: 260px;
    }
    #Ratinglist {
        left: 60px;
    }
    #SetGroupMembers{
        left:50px;
    }
    #Filterlist {
        top: 5px;
        left: 5px;
    }

    #Settingsbox {
        top: 5px;
        left: 5px;
        height: 400px;
        width: 300px;
    }
    #Settingsclose {
        display:block;
    }
    #Settingsboxwrapper {
        height: 210px;
    }
    #SaveQueue {
        width:150px;
    }
    #CurrentMeta {
        left: 5px;
        top: 166px;
        width: auto;
    }
    
    #Fade, #Shuffle, #CurrentPlaylistOpen {
        right: 5px;
        left: unset;
    }
    #Repeat, #SleepModeButton{
        right:75px;
        left: unset;
    }

}
