body {
    background-color: black;
    font-family: Verdana;
    font-size: 1em
}

a {
    text-decoration: none;
    color: black;
}

#Debug {
    line-height: 4;
    right: 0;
    top: 280px;
    display: none;
}

.curPlayEnqueuedTransportURI {
    background-color: gainsboro;
}

#AppList {
    display: none;
    position: absolute;
    z-index: 500;
    border: 1px solid black;
    width: 130px;
    top: 90px;
    left: 60px;
    border-radius: 14px 14px 14px 14px;
    box-shadow: 2px 2px 3px 1px;
    background-color: white;
}

#CurrentMeta {
    background-color: white;
    border: 2px solid black;
    border-radius: 25px;
    display: none;
    height: 250px;
    left: -100px;
    padding-left: 10px;
    padding-top: 5px;
    position: relative;
    top: -20px;
    width: 400px;
    box-shadow: 5px 5px 7px #888;
}

    #CurrentMeta:after {
        border-color: #000 transparent transparent;
        border-style: solid;
        border-width: 20px;
        bottom: -16%;
        content: "";
        height: 0;
        position: absolute;
        right: 60%;
        width: 0;
    }

#EventErrorDiv {
    display: none;
    background: white none repeat scroll 0 0;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px;
    height: 100px;
    left: 50%;
    position: absolute;
    top: 50%;
    width: 250px;
}

    #EventErrorDiv > div {
        padding-left: 30px;
        padding-top: 40px;
    }

#AudioIn {
    display: none;
    position: absolute;
    right: 0;
    top: 390px;
    Background: URL("/images/audioin.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
}

    #AudioIn.akt {
        box-shadow: 0 0 0 #888;
        Background-Color: grey;
    }


#Overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: grey;
    display: none;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid;
    opacity: 0.5;
    z-index: 99;
}

#SleepModeButton {
    position: absolute;
    left: 5px;
    bottom: 100px;
    Background: URL("/images/sleepmode.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#SleepMode {
    background-color: white;
    border: 2px solid;
    border-radius: 25px;
    box-shadow: 5px 5px 7px #888;
    display: none;
    height: 100px;
    left: 90px;
    padding-left: 10px;
    padding-top: 10px;
    position: absolute;
    bottom: 80px;
    width: 110px;
}

#SleepModeButton.aktiv {
    background-color: grey;
}

#SleepModeWrapper {
    height: 100px;
    position: relative;
}
#SleepModeSelection {
    width: 100px;
}
    #SleepModeWrapper > div {
        text-align: center;
    }

    #SleepModeWrapper:after {
        border-color: transparent #000 transparent transparent;
        border-style: solid;
        border-width: 25px;
        content: "";
        height: 0;
        right: 110%;
        position: absolute;
        top: 25%;
        width: 0;
    }

#SleepModeSave {
    border: 2px solid;
    border-radius: 25px;
    box-shadow: 3px 0 5px #888;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.deviceplayinggif {
    display: block;
    opacity: 0;
    margin-bottom: 5px;
    height: 1.4em;
    width: 1em;
}
#Loader {
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.childplayer{
    font-size: 0.6em;
    padding-left: 20px;
}
#ShowerrorlogingButton {
    bottom: 50px;
    line-height: 50px;
    position: absolute;
    right: 20px;
    text-align: center;
}

#Showerrorloging {
    background-color: white;
    height: 660px;
    left: 190px;
    position: absolute;
    top: 5px;
    width: 500px;
    border: 2px solid;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    display: none;
}

    #Showerrorloging > DIV {
        height: 660px;
        overflow: auto;
    }

#ShowerrorlogingButton {
    display: none;
}

#Bodydiv, #SettingsWrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 1020px;
    height: 99%;
    min-height: 635px;
    border-radius: 25px 25px 25px 25px;
    border: 1px solid;
    border-color: black;
    background: white;
    z-index: 1;
}

.rating_bar {
    margin-right: 1px;
    width: 100px;
    background: url("/images/grau.png") 0 0 repeat-x;
    float: left;
}

    .rating_bar div {
        height: 19px;
        background: url("/images/gold.png") 0 0 repeat-x;
    }

.rating_bar_aktiv {
    border: 2px solid #FF0000;
    border-radius: 25px;
}

#Setrating {
    bottom: -10px;
    height: 40px;
    left: -10px;
    position: absolute;
    width: 120px;
}

    #Setrating > div {
        bottom: 10px;
        left: 20px;
        position: absolute;
    }

#rating_id_bomb {
    position: absolute;
    right: 30px;
    top: 400px;
    width: 20px;
}

#BewertungN {
    bottom: 90px;
    position: absolute;
    right: 120px;
    margin-right: 1px;
    width: 150px;
    height: 30px;
    background: url("/images/grau.png") 0 0 repeat-x;
    background-size: 30px 30px;
}

#BewertungL {
    background: url("/images/gold.png") repeat-x scroll 0 0 / 30px 30px #000000;
    background: url("/images/gold.png") repeat-x scroll 0 0 / 30px 30px rgba(0, 0, 0, 0);
    height: 30px;
}

.moveCurrentPlaylistTrack {
    background: url("/images/verschieben.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/verschieben.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    height: 50px;
    width: 50px;
}

#Bewertungsfilter {
    background: url("/images/filterrot.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/filterrot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    margin-top: 10px;
}

    #Bewertungsfilter.akt {
        box-shadow: 0 0 0 #888;
        Background-Color: grey;
    }

#Version {
    position: absolute;
    bottom: 2px;
}

#Gelegenheitendiv, #Geschwindigkeitendiv, #Stimmungendiv, #FilterStimmungendiv, #FilterGeschwindigkeitendiv, #FilterGelegenheitendiv {
    border-bottom: 2px solid black;
    height: 50px;
}

#Gelegenheitendiv {
    margin-top: 10px;
}

#Stimmungendiv, #FilterStimmungendiv {
    margin-bottom: 10px;
}

    #Gelegenheitendiv > div, #Geschwindigkeitendiv > div, #Stimmungendiv > div, #FilterStimmungendiv > div, #FilterGeschwindigkeitendiv > div, #FilterGelegenheitendiv > div {
        float: left;
        height: 25px;
        width: 25px;
        margin-right: 7px;
    }

#gelegenheit_0, #Filtergelegenheit_0 {
    background: url("/images/None.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/None.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #gelegenheit_0.selected, #Filtergelegenheit_0.selected {
        background: url("/images/None rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/None rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#gelegenheit_1, #Filtergelegenheit_1 {
    background: url("/images/party.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/party.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #gelegenheit_1.selected, #Filtergelegenheit_1.selected {
        background: url("/images/party rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/party rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#gelegenheit_2, #Filtergelegenheit_2 {
    background: url("/images/hintergrund.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/hintergrund.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #gelegenheit_2.selected, #Filtergelegenheit_2.selected {
        background: url("/images/hintergrund rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/hintergrund rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#gelegenheit_3, #Filtergelegenheit_3 {
    background: url("/images/romantisch.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/romantisch.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #gelegenheit_3.selected, #Filtergelegenheit_3.selected {
        background: url("/images/romantisch rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/romantisch rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#gelegenheit_4, #Filtergelegenheit_4 {
    background: url("/images/saisonal.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/saisonal.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #gelegenheit_4.selected, #Filtergelegenheit_4.selected {
        background: url("/images/saisonal rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/saisonal rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#geschwindigkeit_0, #Filtergeschwindigkeit_0 {
    background: url("/images/None.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/None.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #geschwindigkeit_0.selected, #Filtergeschwindigkeit_0.selected {
        background: url("/images/None rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/None rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#geschwindigkeit_1, #Filtergeschwindigkeit_1 {
    background: url("/images/pfeil1.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/pfeil1.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #geschwindigkeit_1.selected, #Filtergeschwindigkeit_1.selected {
        background: url("/images/pfeil1rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/pfeil1rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#geschwindigkeit_2, #Filtergeschwindigkeit_2 {
    background: url("/images/pfeil2.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/pfeil2.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #geschwindigkeit_2.selected, #Filtergeschwindigkeit_2.selected {
        background: url("/images/pfeil2rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/pfeil2rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#geschwindigkeit_3, #Filtergeschwindigkeit_3 {
    background: url("/images/pfeil3.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/pfeil3.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #geschwindigkeit_3.selected, #Filtergeschwindigkeit_3.selected {
        background: url("/images/pfeil3rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/pfeil3rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#geschwindigkeit_4, #Filtergeschwindigkeit_4 {
    background: url("/images/pfeil4.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/pfeil4.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #geschwindigkeit_4.selected, #Filtergeschwindigkeit_4.selected {
        background: url("/images/pfeil4rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/pfeil4rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#geschwindigkeit_5, #Filtergeschwindigkeit_5 {
    background: url("/images/pfeil5.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/pfeil5.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #geschwindigkeit_5.selected, #Filtergeschwindigkeit_5.selected {
        background: url("/images/pfeil5rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/pfeil5rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#stimmung_0, #Filterstimmung_0 {
    background: url("/images/None.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/None.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #stimmung_0.selected, #Filterstimmung_0.selected {
        background: url("/images/None rot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/None rot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#stimmung_1, #Filterstimmung_1 {
    background: url("/images/wildschwarz.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/wildschwarz.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #stimmung_1.selected, #Filterstimmung_1.selected {
        background: url("/images/wildrot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/wildrot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#stimmung_2, #Filterstimmung_2 {
    background: url("/images/froehlichschwarz.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/froehlichschwarz.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #stimmung_2.selected, #Filterstimmung_2.selected {
        background: url("/images/froehlichrot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/froehlichrot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#stimmung_3, #Filterstimmung_3 {
    background: url("/images/entspanntschwarz.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/entspanntschwarz.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #stimmung_3.selected, #Filterstimmung_3.selected {
        background: url("/images/entspanntrot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/entspanntrot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#stimmung_4, #Filterstimmung_4 {
    background: url("/images/duesterschwarz.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/duesterschwarz.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #stimmung_4.selected, #Filterstimmung_4.selected {
        background: url("/images/duesterrot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/duesterrot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#stimmung_5, #Filterstimmung_5 {
    background: url("/images/einschlaeferndschwarz.png") no-repeat scroll 0 0 / 100% 100% #000000;
    background: url("/images/einschlaeferndschwarz.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
}

    #stimmung_5.selected, #Filterstimmung_5.selected {
        background: url("/images/einschlaeferndrot.png") no-repeat scroll 0 0 / 100% 100% #000000;
        background: url("/images/einschlaeferndrot.png") no-repeat scroll 0 0 / 100% 100% rgba(0, 0, 0, 0);
    }

#RatingCheck {
    height: 15px;
    display: none;
}

#Ratinglist, #Filterlist {
    position: absolute;
    top: 5px;
    right: 75px;
    display: none;
    background: white;
    padding-bottom: 20px;
    width: 210px;
    border: solid;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    -webkit-border-radius: 25px;
    border-radius: 25px 25px 25px 25px;
    bottom: 40px;
    min-height: 600px;
}

#filter_rating_bar_bomb {
    width: 100px;
}

#Filterlist > strong {
    padding-left: 15px;
}

#Ratinglist .rating_bar, #Filterlist .rating_bar, .rating_bar_bomb {
    margin-top: 5px;
    margin-left: 20px;
}

.close_bar {
    position: absolute;
    bottom: 0;
    right: 10px;
}

.resetFilter {
    position: absolute;
    bottom: 0;
    left: 10px;
}

#Ratingerrors {
    border: 2px solid;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 30px;
    top: 500px;
    height: 30px;
    width: 30px;
    display: none;
}

#RatingerrorsList {
    border: 2px solid;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    right: 30px;
    top: 280px;
    height: 200px;
    width: 230px;
    z-index: 3;
    background: white;
    display: none;
}

#CurrentBomb {
    position: absolute;
    bottom: 87px;
    right: 244px;
    z-index: 1;
    display: none;
}

    #CurrentBomb img {
        height: 30px;
        width: 30px;
    }

.bomb {
    display: none;
    position: relative;
    top: 10px;
    float: left;
    width: 40px;
}

    .bomb img {
        height: 24px;
        width: 24px;
    }

.mediabutton {
    width: 75px;
    height: 75px;
    margin: 5px;
    border: 2px solid;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    background-color: white;
    cursor: pointer;
}

.mediabuttonring {
    border: 2px solid;
    -webkit-border-radius: 30px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    cursor: pointer;
}

.devices {
    position: absolute;
    top: 10px;
    left: 5px;
    border: 3px solid;
    border-radius: 25px 25px 25px 25px;
    float: right;
    /*text-align: center;*/
    vertical-align: middle;
    background: #e5e5e5;
    -webkit-overflow-scrolling: touch;
    max-height: 230px;
    overflow: hidden;
    z-index: 100;
    width: 180px;
}

.deviceWrapper {
    max-height: 230px;
    overflow: auto;
    padding-bottom: 5px;
}

.groupdevicesshown {
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
}

.groupdeviceclass {
    display: none;
    margin-top: 8px;
    margin-left: 10px;
    border: 2px solid;
    border-radius: 25px;
    box-shadow: 3px 0 5px #888;
    height: 1.4em;
    align-self: center;
}

.groupdeviceclassplay {
    Background: URL("/images/pause_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 25px;
    width: 25px;
}

.groupdeviceclassplay.active {
    Background: URL("/images/play_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: grey;
}

.device {
    width: 180px;
    float: left;
    margin-top: 8px;
}

.deviceIcon {
    width: 20px;
    vertical-align: middle;
}

.device > p {
    margin: 0;
}

#GroupDeviceShow {
    display: none;
}

.device_groupmember {
    width: 130px;
    float: left;
    font-size: 0.6em;
}

.groupdevicewrapper {
    overflow: hidden;
    display: flex;
    cursor: pointer;
    /*display: -webkit-flexbox;
    display: -ms-flexbox;
    display: -webkit-flex;*/
}

#SetGroupMembers {
    position: absolute;
    top: 10px;
    left: 430px;
    padding: 3px;
    border: 3px solid;
    float: right;
    text-align: center;
    vertical-align: middle;
    background: #e5e5e5;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 280px;
    overflow-x: hidden;
    width: 175px;
    display: none;
    -webkit-border-radius: 25px;
    border-radius: 25px 25px 25px 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
}

.groupcheck {
    margin-left: 10px;
    text-align: left;
}

#Groupcheckset {
    border: 2px solid;
    border-radius: 25px;
    box-shadow: 3px 0 5px #888;
    margin: 10px;
}

.akt_device {
    font-style: italic;
    font-weight: bold;
}

#Play {
    top: 0;
    right: 0;
    Background: URL("/images/pause_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    Background-Color: white;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

    #Play.aktiv {
        Background: URL("/images/play_red.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        Background-Color: grey;
    }

#Shuffle {
    top: 0;
    right: 90px;
    Background: URL("/images/shuffle_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

    #Shuffle.aktiv {
        Background-Color: grey;
    }

#Repeat {
    top: 180px;
    right: 90px;
    Background: URL("/images/repeat_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

    #Repeat.aktiv {
        Background-Color: grey;
    }

    #Repeat.aktiv_one {
        Background-Color: grey;
        Background-image: URL("/images/repeat_one_red.png");
    }

#Fade {
    top: 180px;
    right: 0;
    Background: URL("/images/fade_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

    #Fade.aktiv {
        Background-Color: grey;
    }

#Next {
    top: 90px;
    right: 0;
    Background: URL("/images/vor_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    Background-Color: white;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#Pre {
    top: 90px;
    right: 90px;
    Background: URL("/images/zur_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.multiVolumeMute {
    Background: URL("/images/nomute_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
    height: 40px;
    width: 40px;
}

    .multiVolumeMute.aktiv {
        Background: URL("/images/mute_red.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-color: grey;
        height: 40px;
        width: 40px;
    }

.multiVolumeName {
    width: 280px;
    height: 40px;
    padding: 10px;
}

.multiVolumeNameMuteWrapper {
    display: flex;
}

#SetMute {
    position: absolute;
    left: 5px;
    top: 330px;
    Background: URL("/images/nomute_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
}

    #SetMute.aktiv {
        Background: URL("/images/mute_red.png");
        Background-size: 100% 100%;
        background-repeat: no-repeat;
        Background-Color: grey;
        box-shadow: 0 0 0 #888;
    }

#Cover {
    position: absolute;
    border: 2px solid;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 25px 25px 25px 25px;
    width: 300px;
    height: 300px;
    right: 115px;
    bottom: 80px;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

    #Cover.moveright, #AktSongInfo.moveright {
        -webkit-transform: translate(100px,0);
        -o-transform: translate(100px,0);
        transform: translate(100px,0);
    }

#AktSongInfo {
    bottom: 35px;
    left: 630px;
    position: absolute;
    cursor: pointer;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

    #AktSongInfo.moveleft {
        -webkit-transform: translate(-100px,0);
        -o-transform: translate(-100px,0);
        transform: translate(-100px,0);
    }

#Akttitle {
    height: 20px;
    overflow: hidden;
}

#Nextcover {
    width: 50px;
    height: 50px;
    border-radius: 25px 25px 25px 25px;
    display: none;
}

#Nextsong {
    float: right;
    height: 50px;
    line-height: 50px;
    margin-left: 5px;
}

#NextSongWrapper {
    position: absolute;
    left: 5px;
    bottom: 40px;
    height: 50px;
    overflow: hidden;
    max-width: 470px;
}

#Slider {
    position: absolute;
    left: 25px;
    bottom: 10px;
    /*width: 960px;*/
    width: calc(100% - 50px);
}

#Volume {
    position: absolute;
    left: 85px;
    top: 260px;
    height: 250px;
}

#MultiVolume {
    display: none;
    width: 350px;
    z-index: 50;
    position: absolute;
    border: 2px solid;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 25px 25px 25px 25px;
    background: white;
    padding: 25px 15px 15px;
    top: 240px;
    left: 100px;
}

.multivolumesliderVolumeNumber {
    left: 175px;
    position: relative;
    top: -36px;
}

#multivolume_close, #GroupDeviceShow, #GroupCheckClose, .righttopclose {
    background: none repeat scroll 0 0 grey;
    border: 2px solid;
    border-radius: 0 20px;
    overflow: hidden;
    position: absolute;
    right: -2px;
    text-align: center;
    top: -2px;
    width: 30px;
    height: 30px;
}

#Playlist {
    position: absolute;
    right: 180px;
    top: 5px;
    bottom: 390px;
    width: 235px;
    border: 2px solid;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
}

#Playlistwrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

.playlist {
    margin-left: 5px;
    padding-right: 24px;
    border-bottom: 1px solid;
    cursor: pointer;
    font-size: 1.2em;
}

    .playlist.m3u {
        Background: URL("/images/m3u.png");
        background-size: 20px 7px;
        Background-Position: 99% 10%;
        background-repeat: no-repeat;
    }

    .playlist.sonos {
        Background: URL("/images/sonos.png");
        background-size: 20px 10px;
        Background-Position: 99% 10%;
        background-repeat: no-repeat;
    }

    .playlist.aktiv {
        background-color: grey;
    }

#PlaylistCount {
    position: absolute;
    left: 530px;
    bottom: 50px;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

    #PlaylistCount.movedown {
        -webkit-transform: translate(0,20px);
        -o-transform: translate(0,20px);
        transform: translate(0,20px);
    }

    #PlaylistCount.moveleft {
        -webkit-transform: translate(-100px,20px);
        -o-transform: translate(-100px,20px);
        transform: translate(-100px,20px);
    }

    #PlaylistCount > DIV {
        float: left;
    }

#Currentplaylist {
    position: absolute;
    left: 190px;
    top: 5px;
    width: 400px;
    bottom: 80px;
    border: 2px solid;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 25px 25px 25px 25px;
    overflow: hidden;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: white;
}

#CurrentPlaylistClose, #CurrentPlaylistOpen, #CurrentLyricsClose {
    display: none;
}

#Currentplaylistwrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}

#PlaylistLoader, #GlobalPlaylistLoader {
    position: absolute;
    left: 50%;
}

#Currentplaylistwrapper > .akt {
    Background-color: grey;
}

.currentrackinplaylist {
    margin-left: 10px;
}

    .currentrackinplaylist.aktiv {
        font-style: italic;
    }

.aktsonginplaylist {
    font-weight: bold;
    background: grey;
    border-radius: 25px 25px 25px 25px;
    padding-left: 10px;
}

.currentplaylist {
    margin: 5px;
    overflow: hidden;
    min-height: 1.2em;
    cursor: pointer;
}

.currentplaylistcover {
    height: 50px;
    width: 50px;
}

.curpopdown {
    display: none;
    border: 2px solid;
    border-radius: 25px 25px 25px 25px;
    height: 50px;
    overflow: hidden;
    background-color: white;
}

.currentplaylistplaceholder {
    line-height: 80px;
    height: 80px;
    background-color: grey;
}

#RatingMineSelector {
    margin-left: 18px;
}

.curpopdown > DIV {
    float: left;
}

.playlistcover {
    height: 50px;
    width: 50px;
}

.mediabuttonsmal {
    margin-right: 5px;
    margin-left: 5px;
}

    .mediabuttonsmal > IMG {
        height: 50px;
        width: 50px;
    }

.playlistplaysmall {
    margin-right: 5px;
    margin-left: 5px;
    height: 50px;
    width: 50px;
    Background: URL("/images/pause_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    .playlistplaysmall.akt {
        Background: URL("/images/play_red.png");
        background-size: 100% 100%;
        background-repeat: no-repeat;
        Background-Color: grey;
    }

#Volumedown {
    position: absolute;
    left: 5px;
    top: 410px;
    Background: URL("/images/remove_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#Volumeup {
    position: absolute;
    top: 250px;
    left: 5px;
    Background: URL("/images/add_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#LabelVolume {
    left: 77px;
    position: absolute;
    text-align: center;
    top: 535px;
    width: 30px;
}
/* LYRIC */

#Currentlyric {
    border: 2px solid;
    -webkit-border-radius: 25px;
    -webkit-box-shadow: 5px 5px 7px #888;
    box-shadow: 5px 5px 7px #888;
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    vertical-align: middle;
    position: absolute;
    left: 50px;
    top: 50px;
    height: 500px;
    width: 500px;
    z-index: 10;
    display: none;
    background: white;
    overflow: auto;
}

#CurrentSongRuntime {
    position: absolute;
    bottom: 30px;
    left: 250px;
}

    #CurrentSongRuntime > div {
        float: left;
    }

#MusikIndex {
    height: 20px;
}

#MusikIndexLoader {
    height: 15px;
    display: none;
}

#MIUCheck {
    height: 15px;
    display: none;
}

/* Lyric Boxen*/
/* Lyric Playlist*/
#LyricPlaylist {
    background-color: white;
    border: 4px solid #000000;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 7px #888888;
    bottom: 55px;
    left: 185px;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 5px;
    z-index: 20;
    display: none;
}

.lyricplaylistclass {
    height: 100%;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}
/* Lyric Current*/
#Lyric {
    position: absolute;
    left: 125px;
    top: 410px;
    Background: URL("/images/lyric_red.png");
    background-size: 75% 75%;
    Background-Position: 50% center;
    background-repeat: no-repeat;
    Background-Color: white;
}

    #Lyric.akt {
        box-shadow: 0 0 0 #888;
        Background-Color: grey;
    }

#Lyricbox {
    display: none;
}

#Lyricboxwrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
}
/*Favoriten Boxen Pfeil nach rechts*/
.arrow_box {
    background-color: white;
    border: 4px solid #000000;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 7px #888888;
    bottom: 55px;
    left: 185px;
    width: 500px;
    padding: 20px;
    position: absolute;
    top: 5px;
}

    .arrow_box:after, .arrow_box:before {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .arrow_box:after {
        border-width: 75px;
        top: 50%;
        margin-top: -75px;
    }

    .arrow_box:before {
        border-color: #000000;
        border-color: rgba(0, 0, 0, 0);
        border-right-color: #000000;
        border-width: 10px;
        top: 420px;
    }


/* Browse Boxen*/
#Browse {
    position: absolute;
    left: 125px;
    top: 330px;
    Background: URL("/images/browse_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: white;
}

#Browseclose {
    display: none;
}

.browsingCover {
    height: 40px;
    width: 40px;
    float: left;
}

    .browsingCover IMG {
        height: 40px;
        width: 40px;
    }

#Browse.akt {
    box-shadow: 0 0 0 #888;
    Background-Color: grey;
}

#Browsebox {
    display: none;
}

#Browseboxwrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 100%;
    max-height: calc(100% - 25px);
}

#BrowsePlaylist {
    position: absolute;
    top: 0;
    left: 80px;
}

#BrowseArtist {
    position: absolute;
    top: 0;
    left: 170px;
}

#BrowseGenre {
    position: absolute;
    right: 200px;
    top: 0;
}

#BrowseFavorites {
    position: absolute;
    right: 100px;
    top: 0;
}

.browseRemoveFav {
    background: #000000 url("/images/None rot.png") no-repeat scroll 0 0 / 100% 100%;
    background: rgba(0, 0, 0, 0) url("/images/None rot.png") no-repeat scroll 0 0 / 100% 100%;
    float: left;
    height: 40px;
    margin-left: 10px;
    width: 40px;
}

.addFavItem, .addFavItemhidden {
    height: 40px;
    width: 40px;
    float: left;
    margin-left: 10px;
}

.addFavItem, .addFavItemPlaylist {
    Background: URL("/images/fav.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.addFavItemPlaylist {
    height: 40px;
    width: 40px;
    margin-top: 5px;
}

#BrowseLoader {
    display: none;
    position: absolute;
    top: 0;
    right: 5px;
}

.font34 {
    font-size: 34px;
}

.box_browse {
    background-color: white;
    border: 4px solid #000000;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 7px #888888;
    bottom: 55px;
    left: 185px;
    width: 500px;
    padding: 35px 20px 20px;
    position: absolute;
    top: 5px;
}

    .box_browse:after, .box_browse:before {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .box_browse:after {
        border-width: 75px;
        top: 50%;
        margin-top: -75px;
    }

    .box_browse:before {
        border-color: #000000;
        border-color: rgba(0, 0, 0, 0);
        border-right-color: #000000;
        border-width: 10px;
        top: 340px;
    }

#Browseback {
    height: 50px;
    /*width: 100%;*/
    position: absolute;
    left: 30px;
    top: -10px;
}

.browseaddcontainertoplaylist {
    height: 40px;
    width: 40px;
    Background: URL("/images/add_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    float: left;
}

.browsereplacecontainertoplaylist {
    height: 40px;
    width: 40px;
    Background: URL("/images/replace_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin-left: 10px;
    float: left;
}

.browsetitle {
    margin-left: 10px;
    overflow: hidden;
    height: 39px;
    line-height: 39px;
    border-top: 1px solid;
}

.currentbrowse {
    height: 40px;
    display: inline-flex;
}

#Ankerlist {
    left: 0px;
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: block;
    background: grey none repeat scroll 0% 0%;
    height: 60px;
    border: 1px solid;
    overflow: hidden;
    border-radius: 0px 0px 20px 20px;
}
    #Ankerlist > DIV {
        width: 15px;
        padding: 5px;
        float: left;
    }

.box_browse #Ankerlist DIV {
    margin-bottom: 0.1em;
}
/* Settings Boxen*/
#Settings {
    position: absolute;
    left: 125px;
    bottom: 100px;
    Background: URL("/images/settings_red.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

    #Settings.akt {
        box-shadow: 0 0 0 #888;
        Background-Color: grey;
    }

#Settingsbox {
    display: none;
}

#Settingsclose {
    display: none;
}

#Settingsboxwrapper {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    height: 160px;
}

.box_settings {
    background-color: white;
    border: 4px solid #000000;
    border-radius: 25px 25px 25px 25px;
    box-shadow: 5px 5px 7px #888888;
    height: 200px;
    left: 260px;
    width: 500px;
    padding: 20px;
    position: absolute;
    bottom: 25px;
    z-index: 20;
}

    .box_settings:after, .box_settings:before {
        right: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
    }

    .box_settings:after {
        border-width: 75px;
        top: 50%;
        margin-top: -75px;
    }

    .box_settings:before {
        border-color: #000000;
        border-color: rgba(0, 0, 0, 0);
        border-right-color: #000000;
        border-width: 81px;
        top: 59%;
        margin-top: -81px;
    }

/*SettingsBox end*/

#SaveQueueImg {
    height: 25px;
    width: 25px;
    position: relative;
    bottom: -7px;
    box-shadow: 1px 1px 1px 0;
    left: 15px;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #8B0000;
}

:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #8B0000;
}

::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #8B0000;
}

:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #8B0000;
}

#SaveQueue {
    width: 300px;
    position: relative;
    z-index: 10;
    Background: transparent;
    Border-radius: 25px;
    box-shadow: 1px 1px 1px 0;
    padding-left: 5px;
}

#Suggestion {
    position: absolute;
    top: 86px;
    left: 22px;
    z-index: 0;
    color: #8B0000;
    background: transparent;
    border: 0 none;
    width: 300px;
    padding-left: 6px;
}

#SaveQueueLoader {
    top: 67px;
    height: 20px;
    right: 100px;
    position: absolute;
    display: none;
}

#Artistplaylistfilter {
    border-bottom: 1px solid black;
    height: 50px;
}

    #Artistplaylistfilter > DIV {
        float: left;
        height: 25px;
        margin-right: 7px;
        width: 25px;
    }

#AlbumArtisttrue {
    background: #000000 url("/images/check.png") no-repeat scroll 0 0 / 100% 100%;
}

    #AlbumArtisttrue.selected {
        background: #000000 url("/images/check_red.png") no-repeat scroll 0 0 / 100% 100%;
    }

#AlbumArtistfalse {
    background: #000000 url("/images/erase_black.png") no-repeat scroll 0 -5px / 150% 150%;
}

    #AlbumArtistfalse.selected {
        background: #000000 url("/images/erase_red.png") no-repeat scroll 0 -5px / 150% 150%;
    }
/*Export An / Aus Schalter  */
#onoffswitchWrapper {
    width: 170px;
    position: absolute;
    right: 20px;
    bottom: 20px;
}

.onoffswitch {
    position: relative;
    width: 57px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right;
}

.onoffswitch-checkbox {
    display: none;
}

.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.onoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0;
    -webkit-transition: margin 0.3s ease-in 0;
    -o-transition: margin 0.3s ease-in 0;
    transition: margin 0.3s ease-in 0;
}

    .onoffswitch-inner:before, .onoffswitch-inner:after {
        float: left;
        width: 50%;
        height: 20px;
        padding: 0;
        line-height: 20px;
        font-size: 12px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 20px;
        box-shadow: 0 10px 0 #000000 inset;
        box-shadow: 0 10px 0 rgba(0,0,0,0.08) inset;
    }

    .onoffswitch-inner:before {
        content: "An";
        padding-left: 7px;
        background-color: #FF0000;
        color: #FFFFFF;
        border-radius: 20px 0 0 20px;
    }

    .onoffswitch-inner:after {
        content: "Aus";
        padding-right: 7px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
        border-radius: 0 20px 20px 0;
    }

.onoffswitch-switch {
    width: 20px;
    margin: 0;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33px;
    -moz-transition: all 0.3s ease-in 0;
    -webkit-transition: all 0.3s ease-in 0;
    -o-transition: all 0.3s ease-in 0;
    transition: all 0.3s ease-in 0;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0;
}
/*Export An / Aus Schalter  ENDE*/
/*Aufwecken An / Aus Schalter  */
#aufweckenonoffswitchWrapper, #RatingMine {
    width: 190px;
}

.aufweckenonoffswitch {
    position: relative;
    width: 57px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    float: right;
}

.aufweckenonoffswitch-checkbox {
    display: none;
}

.aufweckenonoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.aufweckenonoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0;
    -webkit-transition: margin 0.3s ease-in 0;
    -o-transition: margin 0.3s ease-in 0;
    transition: margin 0.3s ease-in 0;
}

    .aufweckenonoffswitch-inner:before, .aufweckenonoffswitch-inner:after {
        float: left;
        width: 50%;
        height: 20px;
        padding: 0;
        line-height: 20px;
        font-size: 12px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 20px;
        box-shadow: 0 10px 0 #000000 inset;
        box-shadow: 0 10px 0 rgba(0,0,0,0.08) inset;
    }

    .aufweckenonoffswitch-inner:before {
        content: "Ja";
        padding-left: 7px;
        background-color: #FF0000;
        color: #FFFFFF;
        border-radius: 20px 0 0 20px;
    }

    .aufweckenonoffswitch-inner:after {
        content: "Nein";
        padding-right: 7px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
        border-radius: 0 20px 20px 0;
    }

.aufweckenonoffswitch-switch {
    width: 20px;
    margin: 0;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33px;
    -moz-transition: all 0.3s ease-in 0;
    -webkit-transition: all 0.3s ease-in 0;
    -o-transition: all 0.3s ease-in 0;
    transition: all 0.3s ease-in 0;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.aufweckenonoffswitch-checkbox:checked + .aufweckenonoffswitch-label .aufweckenonoffswitch-inner {
    margin-left: 0;
}

.aufweckenonoffswitch-checkbox:checked + .aufweckenonoffswitch-label .aufweckenonoffswitch-switch {
    right: 0;
}
/*Aufwecken An / Aus Schalter  ENDE*/
/*Nur CurrentRatingAn / Aus Schalter  */
#curonoffswitchWrapper {
    width: 210px;
    position: absolute;
    right: 20px;
    bottom: 50px;
}

.curonoffswitch {
    position: relative;
    width: 57px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* ReSharper disable once CssBrowserCompatibility */
    user-select: none;
    float: right;
}

.curonoffswitch-checkbox {
    display: none;
}

.curonoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.curonoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0;
    -webkit-transition: margin 0.3s ease-in 0;
    -o-transition: margin 0.3s ease-in 0;
    transition: margin 0.3s ease-in 0;
}

    .curonoffswitch-inner:before, .curonoffswitch-inner:after {
        float: left;
        width: 50%;
        height: 20px;
        padding: 0;
        line-height: 20px;
        font-size: 12px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 20px;
        box-shadow: 0 10px 0 #000000 inset;
        box-shadow: 0 10px 0 rgba(0,0,0,0.08) inset;
    }

    .curonoffswitch-inner:before {
        content: "Ja";
        padding-left: 7px;
        background-color: #FF0000;
        color: #FFFFFF;
        border-radius: 20px 0 0 20px;
    }

    .curonoffswitch-inner:after {
        content: "Nein";
        padding-right: 7px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
        border-radius: 0 20px 20px 0;
    }

.curonoffswitch-switch {
    width: 20px;
    margin: 0;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33px;
    -moz-transition: all 0.3s ease-in 0;
    -webkit-transition: all 0.3s ease-in 0;
    -o-transition: all 0.3s ease-in 0;
    transition: all 0.3s ease-in 0;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.curonoffswitch-checkbox:checked + .curonoffswitch-label .curonoffswitch-inner {
    margin-left: 0;
}

.curonoffswitch-checkbox:checked + .curonoffswitch-label .curonoffswitch-switch {
    right: 0;
}
/*Nur CurrentRating An / Aus Schalter  ENDE*/
/*ArtisPlaylist An / Aus Schalter  Anfang*/
#artistplaylistonoffswitchWrapper {
    width: 190px;
}

.artistplaylistonoffswitch {
    position: relative;
    width: 57px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    /* ReSharper disable once CssBrowserCompatibility */
    user-select: none;
    float: right;
}

.artistplaylistonoffswitch-checkbox {
    display: none;
}

.artistplaylistonoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}

.artistplaylistonoffswitch-inner {
    width: 200%;
    margin-left: -100%;
    -moz-transition: margin 0.3s ease-in 0;
    -webkit-transition: margin 0.3s ease-in 0;
    -o-transition: margin 0.3s ease-in 0;
    transition: margin 0.3s ease-in 0;
}

    .artistplaylistonoffswitch-inner:before, .artistplaylistonoffswitch-inner:after {
        float: left;
        width: 50%;
        height: 20px;
        padding: 0;
        line-height: 20px;
        font-size: 12px;
        color: white;
        font-family: Trebuchet, Arial, sans-serif;
        font-weight: bold;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        border-radius: 20px;
        box-shadow: 0 10px 0 #000000 inset;
        box-shadow: 0 10px 0 rgba(0,0,0,0.08) inset;
    }

    .artistplaylistonoffswitch-inner:before {
        content: "Ja";
        padding-left: 7px;
        background-color: #FF0000;
        color: #FFFFFF;
        border-radius: 20px 0 0 20px;
    }

    .artistplaylistonoffswitch-inner:after {
        content: "Nein";
        padding-right: 7px;
        background-color: #EEEEEE;
        color: #999999;
        text-align: right;
        border-radius: 0 20px 20px 0;
    }

.artistplaylistonoffswitch-switch {
    width: 20px;
    margin: 0;
    background: #FFFFFF;
    border: 2px solid #999999;
    border-radius: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 33px;
    -moz-transition: all 0.3s ease-in 0;
    -webkit-transition: all 0.3s ease-in 0;
    -o-transition: all 0.3s ease-in 0;
    transition: all 0.3s ease-in 0;
    background-image: -moz-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    background-image: -webkit-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    background-image: -o-linear-gradient(center top, rgba(0,0,0,0.1) 0, rgba(0,0,0,0) 80%);
    box-shadow: 0 1px 1px white inset;
}

.artistplaylistonoffswitch-checkbox:checked + .artistplaylistonoffswitch-label .artistplaylistonoffswitch-inner {
    margin-left: 0;
}

.artistplaylistonoffswitch-checkbox:checked + .artistplaylistonoffswitch-label .artistplaylistonoffswitch-switch {
    right: 0;
}
/*ArtisPlaylist An / Aus Schalter  ENDE*/
/*Settings Page*/
#SettingsContent {
    display: table;
    padding-top: 10px;
    padding-left: 10px;
}

.settingsContentChild {
    display: table-row;
}

    .settingsContentChild > DIV {
        display: table-cell;
    }
