[*.cs]

# CA1416: Plattformkompatibilität überprüfen
dotnet_diagnostic.CA1416.severity = none

# CA1822: Member als statisch markieren
dotnet_diagnostic.CA1822.severity = silent

# IDE0066: Switch-Anweisung in Ausdruck konvertieren
dotnet_diagnostic.IDE0066.severity = silent
