<!doctype html>
<html>
<head>
    <title>Sonos API Controller</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="icon" type="image/svg+xml" href="/images/dancer-with-music.svg" sizes="any">
    <link rel="apple-touch-icon" href="/images/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
    <link rel="mask-icon" href="/images/dancer-with-music.svg" color="#5bbad5">
    <link rel="stylesheet" href="/css/site.css" media="all" />
    <link rel="stylesheet" href="/css/AlarmClock.css" media="all" />
    <link rel="stylesheet" href="/css/media.css" media="screen" />
    <script src="/js/JSVariablen.js" type="text/javascript"></script>
    <script src="/js/JSSonosAjax.js" type="text/javascript"></script>
    <script src="/js/MP3.js" type="text/javascript"></script>
    <script src="/js/JSSonosPlayer.js" type="text/javascript"></script>
    <script src="/js/JSSonosZones.js" type="text/javascript"></script>
    <script src="/js/JSSonosEvent.js" type="text/javascript"></script>
    <script src="/js/JSControl.js" type="text/javascript"></script>
    <script src="/js/AlarmClock.js" type="text/javascript"></script>
</head>
<body>
    <div id="Bodydiv">
        <div id="Devices" class="devices">
            <img alt="Device Loader" id="Loader" src="/images/ajax-loader2.gif" />
            <div id="DeviceWrapper" class="deviceWrapper">
            </div>
            <div onclick="GroupDeviceShow()" id="GroupDeviceShow"></div>
        </div>
        <div id="Ratingerrors" onclick="ShowRatingErrorNames()"></div>
        <div id="RatingerrorsList"></div>
        <div id="Play" class="mediabutton" onclick="PlayPress();"></div>
        <div id="Next" class="mediabutton"></div>
        <div id="Pre" class="mediabutton"></div>
        <div id="Shuffle" class="mediabutton" onclick="SetPlaymode('Shuffle');"></div>
        <div id="Repeat" class="mediabutton" onclick="SetPlaymode('Repeat');"></div>
        <div id="Fade" class="mediabutton" onclick="SetFade();"></div>
        <div id="SetMute" class="mediabuttonring" onclick="SetMute();"></div>
        <div id="Debug" class="mediabutton" onClick="WroteDebugInfos()">Debug</div>
        <div id="Browse" class="mediabutton" onclick="BrowsePress();"></div>
        <div id="Browsebox">
            <div id="Browseclose">X</div>
            <img id="BrowseLoader" src="/images/ajax-loader2.gif" alt="" />
            <div id="Ankerlist"></div>
            <div id="Browseback" class="font34" onclick="LoadBrowse('bb')">&lArr;</div>
            <div id="BrowsePlaylist" onclick="LoadBrowse('A:PLAYLISTS')">Playlist</div>
            <div id="BrowseArtist" onclick="LoadBrowse('A:ALBUMARTIST')">Interpreten</div>
            <div id="BrowseGenre" onclick="LoadBrowse('A:GENRE')">Genre</div>
            <div id="Browseboxwrapper"></div>
        </div>
        <div id="AlarmClockOpen" class="mediabutton"></div>
        <div id="AlarmClock" class="alarmclockarrow"><div id="AlarmClockLoader" style="display: none;"><img alt="Device Loader" id="AlarmClockLoaderIMG" src="/images/ajax-loader.gif"></div><div id="AlarmClockWrapper"></div></div>
        <DIV id="EditAlarm">
            <div id="EditAlarmWrapper">
                <div id="EditAlarmEnabledWrapper" class="displayflex">
                    <div class="editalarmenabled">
                        <input type="radio" id="Editalarenabledtrue" name="enabled" value="true">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;"> An</span>
                    </div>
                    <div class="editalarmenabled">
                        <input type="radio" id="Editalarenabledfalse" name="enabled" value="false">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;"> Aus</span>
                    </div>
                </div>
                <div id="EditAlarmStartTimeWrapper" class="displayflex">Startzeit:<div id="EditAlarmStartTimeDIV"><input type="time" id="EditAlarmStartTimeHour" maxlength="5"></div></div>
                <div id="EditAlarmRoomSelectionWrapper" class="displayflex">
                    Raum:<select id="AlarmSonosPlayerSelector" name="AlarmSonosPlayerSelector"></select>
                </div>
                <div id="EditAlarmDaysSelectionWrapper">
                    <div id="EditAlarmDaysSelectionWrapperText">Tage:</div>
                    <div>
                        <input type="Checkbox" id="EditAlarmDaysSelectionOnce" class="editAlarmDaysSelection">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked; this.previousElementSibling.dispatchEvent(new Event('change')); ">Einmalig</span>
                    </div>
                    <div>
                        <input type="Checkbox" id="EditAlarmDaysSelectionDaily" class="editAlarmDaysSelection editAlarmDays">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked; this.previousElementSibling.dispatchEvent(new Event('change')); ">Täglich</span>
                    </div><br>
                    <div>
                        <input type="Checkbox" id="editAlarmDaysSelection1" class="editAlarmDaysSelection editAlarmDaysSelectionWeek editAlarmDays" name="editAlarmDays">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;this.previousElementSibling.dispatchEvent(new Event('change'));">Montag</span>
                    </div>
                    <div>
                        <input type="Checkbox" id="editAlarmDaysSelection2" class="editAlarmDaysSelection editAlarmDaysSelectionWeek editAlarmDays" name="editAlarmDays">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;this.previousElementSibling.dispatchEvent(new Event('change'));">Dienstag</span>
                    </div>
                    <div>
                        <input type="Checkbox" id="editAlarmDaysSelection3" class="editAlarmDaysSelection editAlarmDaysSelectionWeek editAlarmDays" name="editAlarmDays">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;this.previousElementSibling.dispatchEvent(new Event('change'));">Mittwoch</span>
                    </div>
                    <div>
                        <input type="Checkbox" id="editAlarmDaysSelection4" class="editAlarmDaysSelection editAlarmDaysSelectionWeek editAlarmDays" name="editAlarmDays">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;this.previousElementSibling.dispatchEvent(new Event('change'));">Donnerstag</span>
                    </div>
                    <div>
                        <input type="Checkbox" id="editAlarmDaysSelection5" class="editAlarmDaysSelection editAlarmDaysSelectionWeek editAlarmDays" name="editAlarmDays">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;this.previousElementSibling.dispatchEvent(new Event('change'));">Freitag</span>
                    </div>
                    <div>
                        <input type="Checkbox" id="editAlarmDaysSelection6" class="editAlarmDaysSelection editAlarmDaysSelectionWeekEnd editAlarmDays" name="editAlarmDays">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;this.previousElementSibling.dispatchEvent(new Event('change'));">Samstag</span>
                    </div>
                    <div>
                        <input type="Checkbox" id="editAlarmDaysSelection0" class="editAlarmDaysSelection editAlarmDaysSelectionWeekEnd editAlarmDays" name="editAlarmDays">
                        <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;this.previousElementSibling.dispatchEvent(new Event('change'));">Sonntag</span>
                    </div>
                </div>
                <div id="EditAlarmVolumeWrapper">
                    <input type="range" min="1" max="100" step="1" value="1" id="EditAlarmVolumeSlider" name="EditAlarmVolumeSlider" />
                    <input type="number" maxlength="3" min="1" max="100" step="1" id="EditAlarmVolumeInput">
                </div>
                <div id="EditAlarmDurationWrapper">
                    Dauer:
                    <select id="EditAlarmDurationSelection"><option value="00:30:00">30 Minuten</option><option value="00:45:00">45 Minuten</option><option value="01:00:00">1 Stunde</option><option value="02:00:00">2 Stunden</option><option value="03:00:00">3 Stunden</option><option value="">Unbegrenzt</option></select>
                </div>
                <div id="EditAlarmPlaylistWrapper">
                    Wiedergabeliste:
                    <input type="text" id="EditAlarmPlaylist" data-containerid="S://NAS/Musik/Playlists/Aufwecken.m3u" data-uri="x-file-cifs://NAS/Musik/Playlists/Aufwecken.m3u">
                    <div id="EditAlarmPlaylistSet" onclick="SelectAlarmPlaylist()">Set</div>
                </div>
                <div id="EditAlarmIncludeRoomsWrapper">
                    <input type="Checkbox" id="EditAlarmIncludeRoomsChecker">
                    <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;">Inkl. gruppierte Räume</span>
                </div>
                <div id="EditAlarmRandomWrapper">
                    <input type="Checkbox" id="EditAlarmRandomChecker">
                    <span onclick="this.previousElementSibling.checked = !this.previousElementSibling.checked;">Zufällige Wiedergabe</span>
                </div>
                <div id="EditAlarmSave" onclick="SaveAlarmChanges()">Save</div>
                <div id="EditAlarmDestroy" onclick="DestroyAlarm()">Löschen</div>
            </div>

        </DIV>
        <div id="SelectAlarmPlaylist">
            <div id="SelectAlarmPlaylistWrapper"></div>
        </div>
        <div id="Lyric" class="mediabutton"></div>
        <div id="Settings" class="mediabuttonring"></div>
        <div id="Settingsbox" class="box_settings">
            <div id="Settingsclose">X</div>
            <div id="MusikIndex">
                <b>Musikindex Aktualisieren</b>&nbsp;&nbsp; <img alt="Musikindex aktualisieren loader" id="MusikIndexLoader" src="/images/ajax-loader2.gif" />&nbsp;&nbsp;
                <img id="MIUCheck" src="/Images/check.png" />
            </div>
            <div id="Settingsboxwrapper">
                <p>
                    <b>Wiedergabeliste:</b><br /><input id="SaveQueue" placeholder="Wiedergabeliste speichern als..." type="text" /><input type="text" name="Suggestion" disabled="disabled" id="Suggestion" /><img alt="Wiedergabeliste Speichern" id="SaveQueueLoader" src="/images/ajax-loader2.gif" /><img src="/images/save_red.png" alt="Playliste exportieren" id="SaveQueueImg" onclick="SaveQueue();" />
                </p>
                <div id="onoffswitchWrapper">
                    Exportieren:
                    <div class="onoffswitch">
                        <input type="checkbox" name="Myonoffswitch" class="onoffswitch-checkbox" id="Myonoffswitch" />
                        <label class="onoffswitch-label" for="Myonoffswitch">
                            <div class="onoffswitch-inner"></div>
                            <div class="onoffswitch-switch"></div>
                        </label>
                    </div>
                </div>
                <div id="curonoffswitchWrapper">
                    Nur Currentrating:
                    <div class="curonoffswitch">
                        <input type="checkbox" name="Curmyonoffswitch" class="curonoffswitch-checkbox" id="Curmyonoffswitch" />
                        <label class="curonoffswitch-label" for="Curmyonoffswitch">
                            <div class="curonoffswitch-inner"></div>
                            <div class="curonoffswitch-switch"></div>
                        </label>
                    </div>
                </div>
                <div id="Bewertungsfilter" class="mediabuttonring"></div>
            </div>
            <div id="SettingsLinks"><a href="/setting">PlayerSettings</a> </div>
        </div>
        <img id="Cover" alt="Cover" src="/images/no-cover.png" onclick="ShowCurrentRating('show');" />
        <div id="NextSongWrapper">
            <img id="Nextcover" alt="Next Song Cover" src="/images/no-cover.png" />
            <div id="Nextsong"></div>
        </div>
        <div id="AktSongInfo">
            <div id="Akttitle" onClick="ShowCurrentSongMeta()" class="akt"></div>
            <div id="Aktartist" onClick="ShowCurrentSongMeta()" class="akt"></div>
        </div>
        <div id="CurrentMeta"></div>
        <div id="AudioIn" class="mediabutton" onclick="SetAudioIn();"></div>
        <div id="PlayRuntimeSliderWrapper"><input type="range" min="0" max="100" value="50" step="1" class="slider" id="PlayRuntimeSlider" name="PlayRuntimeSlider"></div>

        <div id="Volumedown" class="mediabuttonring" onclick="SetVolume(0);"></div>
        <div id="Volumeup" class="mediabuttonring" onclick="SetVolume(1);"></div>
        <div id="VolumeWrapper"><input type="range" min="0" max="100" value="50" step="1" class="slider" id="Volume" name="Volume"></div><label for="VolumeWrapper" id="LabelVolume"></label>
        <div id="SleepModeButton" class="mediabutton" onclick="ShowSleepMode();"></div>
        <div id="SleepMode">
            <div id="SleepModeWrapper">
                <select id="SleepModeSelection"><option value="aus">Aus</option><option value="00:15:00">15 Minuten</option><option value="00:20:00">20 Minuten</option><option value="00:25:00">25 Minuten</option><option value="00:30:00">30 Minuten</option><option value="00:35:00">35 Minuten</option><option value="00:45:00">45 Minuten</option><option value="01:00:00">1 Stunde</option><option value="01:30:00">1,5 Stunden</option><option value="02:00:00">2 Stunden</option><option value="03:00:00">3 Stunden</option></select><br />
                <div id="SleepModeSave" onclick="SetSleepModeState()">Set</div>
                <div id="SleepModeState"></div>
            </div>
        </div>
        <div id="MultiVolume"></div>
        <div id="Playlist">
            <img alt="GlobalPlaylist Loader" id="GlobalPlaylistLoader" src="/images/ajax-loader2.gif" />
            <div id="Playlistwrapper"></div>
        </div>
        <div id="PlaylistCount">
            <div id="PlaylistCountAkt"></div>
            <div id="PlaylistCountSlash">&nbsp;/&nbsp;</div>
            <div id="PlaylistCountTotal"></div>
        </div>
        <div id="Currentplaylist">
            <img alt="Current Playlist Loader" id="PlaylistLoader" src="/images/ajax-loader2.gif" />
            <div id="Currentplaylistwrapper"></div>
        </div>
        <div id="CurrentPlaylistClose" onclick="ToggleCurrentPlaylist()">Schließen</div>
        <div id="CurrentPlaylistOpen" onclick="ToggleCurrentPlaylist()" class="mediabuttonring">
            <img src="/Images/playlist.png" />
        </div>
        <div id="CurrentBomb" onclick="ShowCurrentRating('show');">
            <img src="/images/bombe.png" alt="Currentbomb" />
        </div>
        <div onclick="ShowCurrentRating('show');" id="BewertungN">
            <div id="BewertungL" style="width: 0;"></div>
        </div>
        <div id="LyricPlaylist"></div>
        <div id="CurrentSongRuntime">
            <div id="CurrentSongRuntimeRelTime"></div>
            <div id="CurrentSongRuntimeSlash">&nbsp;/&nbsp;</div>
            <div id="CurrentSongRuntimeDuration"></div>
        </div>
        <div id="Ratinglist">
            <div id="Gelegenheitendiv">
                Gelegenheiten:<br>
                <div id="gelegenheit_0" onclick="SetSituation(0);return false;"></div>
                <div id="gelegenheit_1" onclick="SetSituation(1);return false;"></div>
                <div id="gelegenheit_2" onclick="SetSituation(2);return false;"></div>
                <div id="gelegenheit_3" onclick="SetSituation(3);return false;"></div>
                <div id="gelegenheit_4" onclick="SetSituation(4);return false;"></div>
            </div>
            <div id="Geschwindigkeitendiv">
                Geschwindigkeit:<br>
                <div id="geschwindigkeit_0" onclick="SetGeschwindigkeit(0);return false;"></div>
                <div id="geschwindigkeit_1" onclick="SetGeschwindigkeit(1);return false;"></div>
                <div id="geschwindigkeit_2" onclick="SetGeschwindigkeit(2);return false;"></div>
                <div id="geschwindigkeit_3" onclick="SetGeschwindigkeit(3);return false;"></div>
                <div id="geschwindigkeit_4" onclick="SetGeschwindigkeit(4);return false;"></div>
                <div id="geschwindigkeit_5" onclick="SetGeschwindigkeit(5);return false;"></div>
            </div>
            <div id="Stimmungendiv">
                Stimmung:<br>
                <div id="stimmung_0" onclick="SetStimmung(0);return false;"></div>
                <div id="stimmung_1" onclick="SetStimmung(1);return false;"></div>
                <div id="stimmung_2" onclick="SetStimmung(2);return false;"></div>
                <div id="stimmung_3" onclick="SetStimmung(3);return false;"></div>
                <div id="stimmung_4" onclick="SetStimmung(4);return false;"></div>
                <div id="stimmung_5" onclick="SetStimmung(5);return false;"></div>
            </div>
            <div id="AufweckenonoffswitchWrapper">
                Aufwecken:
                <div class="aufweckenonoffswitch">
                    <input type="checkbox" name="Aufweckenonoffswitch" class="aufweckenonoffswitch-checkbox" id="Aufweckenmyonoffswitch" />
                    <label class="aufweckenonoffswitch-label" for="Aufweckenmyonoffswitch">
                        <div class="aufweckenonoffswitch-inner"></div>
                        <div class="aufweckenonoffswitch-switch"></div>
                    </label>
                </div>
            </div><br>
            <div id="ArtistplaylistonoffswitchWrapper">
                Artist-Playlist:
                <div class="artistplaylistonoffswitch">
                    <input type="checkbox" name="Artistplaylistmyonoffswitch" class="artistplaylistonoffswitch-checkbox" id="Artistplaylistmyonoffswitch" />
                    <label class="artistplaylistonoffswitch-label" for="Artistplaylistmyonoffswitch">
                        <div class="artistplaylistonoffswitch-inner"></div>
                        <div class="artistplaylistonoffswitch-switch"></div>
                    </label>
                </div>
            </div><br>
            <div id="RatingMine">
                Rating Mine: <select id="RatingMineSelector"><option value="0">0</option><option value="1">1</option><option value="2">2</option><option value="3">3</option><option value="4">4</option><option value="5">5</option></select>
            </div>
            <div class="rating_bar_bomb" id="Rating_id_bomb" onclick="ChangeRating(-1,true)">
                <img src="/images/bombe.png" alt="RatingBomb" />
            </div>
            <div class="rating_bar" id="rating_id_0" onclick="ChangeRating(0,true)">
                <div style="width: 0;"></div>
            </div>
            <div class="rating_bar" id="rating_id_10" onclick="ChangeRating(10,true)">
                <div style="width: 10%;"></div>
            </div>
            <div class="rating_bar" id="rating_id_20" onclick="ChangeRating(20,true)">
                <div style="width: 20%;"></div>
            </div>
            <div class="rating_bar" id="rating_id_30" onclick="ChangeRating(30,true)">
                <div style="width: 30%;"></div>
            </div>
            <div class="rating_bar" id="rating_id_40" onclick="ChangeRating(40,true)">
                <div style="width: 40%;"></div>
            </div>
            <div class="rating_bar" id="rating_id_50" onclick="ChangeRating(50,true)">
                <div style="width: 50%;"></div>
            </div>
            <div class="rating_bar" id="rating_id_60" onclick="ChangeRating(60,true)">
                <div style="width: 60%;"></div>
            </div>
            <div class="rating_bar" id="rating_id_70" onclick="ChangeRating(70,true)">
                <div style="width: 70%;"></div>
            </div>
            <div class="rating_bar" id="rating_id_80" onclick="ChangeRating(80,true)">
                <div style="width: 80%;"></div>
            </div>
            <div class="rating_bar" id="rating_id_90" onclick="ChangeRating(90,true)">
                <div style="width: 90%;"></div>
            </div>
            <div class="rating_bar" id="rating_id_100" onclick="ChangeRating(100,true)">
                <div style="width: 100%;"></div>
            </div>
            <div id="Setrating" onclick="SetRatingLyric();return false;">
                <div>
                    >>Done<<<img id="RatingCheck" src="/images/check.png" />
                </div>
            </div>
            <div class="close_bar" onclick="ShowCurrentRating('hide');">Close</div>
        </div>
        <div id="Filterlist">
            <strong>Filter</strong>
            <div class="filterlistWrapperParent">
                <div class="filterListWrapper">
                    <div id="FilterGelegenheitendiv">
                        Gelegenheiten:<br>
                        <div id="Filtergelegenheit_0" onclick="SetRatingFilter('Gelegenheit', 0); return false;"></div>
                        <div id="Filtergelegenheit_1" onclick="SetRatingFilter('Gelegenheit', 1); return false;"></div>
                        <div id="Filtergelegenheit_2" onclick="SetRatingFilter('Gelegenheit', 2); return false;"></div>
                        <div id="Filtergelegenheit_3" onclick="SetRatingFilter('Gelegenheit', 3); return false;"></div>
                        <div id="Filtergelegenheit_4" onclick="SetRatingFilter('Gelegenheit', 4); return false;"></div>
                    </div>
                    <div id="FilterGeschwindigkeitendiv">
                        Geschwindigkeit:<br>
                        <div id="Filtergeschwindigkeit_0" onclick="SetRatingFilter('Geschwindigkeit', 0); return false;"></div>
                        <div id="Filtergeschwindigkeit_1" onclick="SetRatingFilter('Geschwindigkeit', 1); return false;"></div>
                        <div id="Filtergeschwindigkeit_2" onclick="SetRatingFilter('Geschwindigkeit', 2); return false;"></div>
                        <div id="Filtergeschwindigkeit_3" onclick="SetRatingFilter('Geschwindigkeit', 3); return false;"></div>
                        <div id="Filtergeschwindigkeit_4" onclick="SetRatingFilter('Geschwindigkeit', 4); return false;"></div>
                        <div id="Filtergeschwindigkeit_5" onclick="SetRatingFilter('Geschwindigkeit', 5); return false;"></div>
                    </div>
                    <div id="FilterStimmungendiv">
                        Stimmung:<br>
                        <div id="Filterstimmung_0" onclick="SetRatingFilter('Stimmung', 0); return false;"></div>
                        <div id="Filterstimmung_1" onclick="SetRatingFilter('Stimmung', 1); return false;"></div>
                        <div id="Filterstimmung_2" onclick="SetRatingFilter('Stimmung', 2); return false;"></div>
                        <div id="Filterstimmung_3" onclick="SetRatingFilter('Stimmung', 3); return false;"></div>
                        <div id="Filterstimmung_4" onclick="SetRatingFilter('Stimmung', 4); return false;"></div>
                        <div id="Filterstimmung_5" onclick="SetRatingFilter('Stimmung', 5); return false;"></div>
                    </div>
                    <div id="Artistplaylistfilter">
                        Artist-Playlist:<br />
                        <div onclick="SetRatingFilter('AlbpumInterpretFilter', 'true'); return false;" id="AlbumArtisttrue"></div>
                        <div onclick="SetRatingFilter('AlbpumInterpretFilter', 'false'); return false;" id="AlbumArtistfalse"></div>
                        <br />
                    </div>
                </div>
                <div class="filterListWrapper">
                    <div class="rating_bar_bomb" id="filter_rating_bar_bomb" onclick="SetRatingFilter('Rating',-1)">
                        <img src="/images/bombe.png" alt="RatingBomb" />
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_0" onclick="SetRatingFilter('Rating', 0)">
                        <div style="width: 0;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_10" onclick="SetRatingFilter('Rating', 10)">
                        <div style="width: 10%;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_20" onclick="SetRatingFilter('Rating', 20)">
                        <div style="width: 20%;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_30" onclick="SetRatingFilter('Rating', 30)">
                        <div style="width: 30%;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_40" onclick="SetRatingFilter('Rating', 40)">
                        <div style="width: 40%;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_50" onclick="SetRatingFilter('Rating', 50)">
                        <div style="width: 50%;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_60" onclick="SetRatingFilter('Rating', 60)">
                        <div style="width: 60%;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_70" onclick="SetRatingFilter('Rating', 70)">
                        <div style="width: 70%;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_80" onclick="SetRatingFilter('Rating', 80)">
                        <div style="width: 80%;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_90" onclick="SetRatingFilter('Rating', 90)">
                        <div style="width: 90%;"></div>
                    </div>
                    <div class="rating_bar" id="filter_rating_bar_100" onclick="SetRatingFilter('Rating', 100)">
                        <div style="width: 100%;"></div>
                    </div>
                </div>
            </div>
            <div class="close_bar" onclick="SetRatingFilter('hide',0);">Close</div>
            <div class="resetFilter" onclick="SetRatingFilter('Reset',0);">Reset</div>
        </div>
        <div id="SetGroupMembers"></div>
        <div id="Overlay" onclick="SonosWindows('overlay');"></div>
    </div>
    <div id="Lyricbox" class="arrow_box">
        <div class="righttopclose" onclick="ShowPlaylistLyricCurrent();">X</div>
        <div id="Lyricboxwrapper"></div>
    </div>
    <div id="EventErrorDiv">
        <div>Der Server ist nicht erreichbar.</div>
    </div>
    <div id="test" onclick="RepairActiveZone();" style="display: none; background-color: white; top: 220px; position: absolute; left: 70px; z-index: 999;">Repair</div>
    <div id="StatusInformationen" style="display: none; background-color: white; top: 220px; position: absolute; left: 70px; z-index: 999;"></div>
</body>
<script type="text/javascript">
    InitSystem();
</script>
</html>




