@{
    var child = ViewBag.Child;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <script src="/js/Send.js" asp-append-version="true" type="text/javascript"></script>
    <script src="/js/LocalStorage.js" asp-append-version="true" type="text/javascript"></script>
    <script src="/js/JSKinder.js" asp-append-version="true" type="text/javascript"></script>
    <link rel="apple-touch-icon" href="/images/ian.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/ian.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/ian.png">
    <link rel="stylesheet" href="/css/kinder.css" asp-append-version="true" media="all" />
    <title>Ian Hörspiel</title>
    <style>
        #ChildImage {
            background-image: url("/images/ian.png");
        }
    </style>
</head>
<body>
    <img src="/images/ajax-loader2.gif" id="AjaxLoader" />
    <div id="Volume">
        <div class="volumeCenter">
            <div class="volumeWrapper">
                <div id="vol1" class="volButton">6</div>
                <div id="vol2" class="volButton">10</div>
                <div id="vol3" class="volButton">15</div>
                <div id="vol4" class="volButton playbutton"></div>
            </div>
        </div>
    </div>
    <div id="Settings">
        <div id="Button1" class="button">1</div>
        <div id="Button2" class="button">2</div>
        <div id="Button3" class="button">3</div>
        <div id="RemoveoldWrapper">
            <input type="checkbox" id="RemoveOld" checked>
            <label for="RemoveOld">
                <div id="tick_mark"></div>
            </label>
            <div id="RemoveOldText">Playlist leeren</div>
        </div>
		<div id="LocalStorage"><img src="/images/firefox-logo.svg" id="FirefoxLogo"/></div>
    </div>
    <div id="SettingsButton"></div>
    <div></div>
    <div id="CurrentPlaylist"></div>
    <div id="Parents"></div>
    <div></div>
    <div id="Childwrapper"></div>
    <div id="ChildImage"></div>
    <script>
        window.Child = new ChildPlayer("Ian");
        Child.Init();
    </script>
</body>
</html>



